Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  portability-*,
  misc-*,
  google-*,
  hicpp-*,
  llvm-*,
  -llvm-header-guard,
  -google-readability-braces-around-statements,
  -cppcoreguidelines-avoid-magic-numbers

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle:     none
